<div class="modal-dialog modal-lg" style="margin-top: 20px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">Add Multiple Images - {{packageName}}</h4>
            <p class="category">
                You can choose to upload <strong>more than one file and less than ten files at a time</strong>. You may
                upload as many
                images as you like but make sure each file size dows not exceed 5 mb
            </p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span *ngFor="let img of images">
                        <div *ngIf="img.status != 2" [style.background-image]="getBackground(img.image)"
                             class="hover-shadow">
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="btn btn-rose btn-file">
                <span class="fileinput-new"><i class="material-icons">add_to_photos</i></span>
                <input accept="image/*" id="custom-input" multiple
                       (change)="fileChangeListener($event)" type="file" name="..."/>
            </span>
            <button type="button" class="btn btn-primary" *ngIf="images.length > 0 && !reading" (click)="upload()"><i
                    class="material-icons">cloud_upload</i></button>
            <button type="button" class="btn btn-info" *ngIf="images.length > 0 && !reading" (click)="clearAll()"><i
                    class="material-icons">clear_all</i></button>
            <button *ngIf="!uploading" type="button" class="btn btn-default" (click)="close()">CLOSE</button>

            <app-loading *ngIf="uploading" [wLoading]="50"></app-loading>
        </div>
    </div>
</div>