<div class="main-content">
    <div class="container-fluid">
        <app-booking-dashboard-header [fkBooking]="fkBooking"></app-booking-dashboard-header>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-full-width">

                        <table class="table">
                            <tr>
                                <td class="time-icon-td">
                                </td>
                                <td></td>
                                <td class="time-start">
                                    <label class="label label-info">Start</label>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="time-start-td">

                                </td>
                                <td class="time-end-td"
                                    style="border-right: 5px solid green;border-left: 5px solid red">

                                </td>
                                <td>
                                    <strong>8:30 AM - 9:00 AM</strong>
                                    <br/>
                                    Allow our preferred transportation partner to whisk you from Austin-Bergstrom
                                    International airport to the Hotel within 20 minutes.

                                </td>
                                <td>
                                    <label class="label label-success status-label">Completed</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="time-start-td">

                                </td>
                                <td class="time-end-td" style="border-right: 5px solid green;">

                                </td>
                                <td>
                                    <strong>8:30 AM - 9:00 AM</strong>
                                    <br/>
                                    Explore Austin in a unique way with a group Scavenger Hunt arranged by one of
                                    our tour partners
                                </td>
                                <td>
                                    <label class="label label-success status-label">Completed</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="time-start-td">

                                </td>
                                <td class="time-end-td">

                                </td>
                                <td>
                                    <strong>8:30 AM - 9:00 AM</strong>
                                    <br/>
                                    Take to the waters behind the Hotel for a friendly sculling competition

                                </td>
                                <td>
                                    <label class="label label-warning status-label">Ongoing</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="time-start-td">

                                </td>
                                <td class="time-end-td">

                                </td>
                                <td>
                                    <strong>10:30 AM - 11:00 AM</strong>
                                    <br/>
                                    These can be used for family trips, Sports team tours, school excursions etc.
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td class="time-icon-td">
                                </td>
                                <td></td>
                                <td class="time-start">
                                    <label class="label label-danger">End</label>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>