<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">message</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Enquiries for the Week</p>
                        <h3 class="card-title" style="font-size: 20px">84</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">contact_mail</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Unassigned Enquiries</p>
                        <h3 class="card-title" style="font-size: 20px">34</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Revenue for Month</p>
                        <h3 class="card-title" style="font-size: 20px">AUD 3,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Visitors for the Month</p>
                        <h3 class="card-title" style="font-size: 20px">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/card-2.jpeg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button type="button" class="btn btn-success btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#pablo">The Grand on Princes</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>17-JUL</h4>
                            <span style="color: grey">10:30 - 13:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Surain Perera</p>
                            <span style="color: grey;float: right">50 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>18-JUL</h4>
                            <span style="color: grey">10:30 - 13:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Ruaan & Rsila</p>
                            <span style="color: grey;float: right">100 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>19-JUL</h4>
                            <span style="color: grey">10:30 - 23:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Kumara Dias</p>
                            <span style="color: grey;float: right">50 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/card-3.jpeg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button type="button" class="btn btn-success btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#pablo">The Grand on Cathies</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>17-JUL</h4>
                            <span style="color: grey">10:30 - 13:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">James & Maya</p>
                            <span style="color: grey;float: right">50 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>18-JUL</h4>
                            <span style="color: grey">10:30 - 13:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Amri & Amla</p>
                            <span style="color: grey;float: right">100 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>19-JUL</h4>
                            <span style="color: grey">10:30 - 23:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Shipa & Sharin</p>
                            <span style="color: grey;float: right">50 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                    <div class="card-image" data-header-animation="true">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/card-1.jpeg">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
                            <button type="button" class="btn btn-success btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <h4 class="card-title">
                            <a href="#pablo">The Grand on Metropol</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>17-JUL</h4>
                            <span style="color: grey">10:30 - 13:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Shameen Perera</p>
                            <span style="color: grey;float: right">120 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>18-JUL</h4>
                            <span style="color: grey">18:30 - 23:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Shane Ponting</p>
                            <span style="color: grey;float: right">50 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="price">
                            <h4>19-JUL</h4>
                            <span style="color: grey">10:30 - 23:30</span>
                        </div>
                        <div class="stats pull-right">
                            <p class="category">Blake Kooper</p>
                            <span style="color: grey;float: right">160 Pax</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle_outline</i> View More
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Walk Throughs For The Week</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div *ngIf="dashboard">
                                    <div class="card-footer">
                                        <div class="price" *ngFor="let place of dashboard.enquiry">
                                            <h4>
                                                {{place.calendar.startDate | date:'MMM d'}} -
                                                {{substringAddress(place.location.address)}}
                                            </h4>
                                            <span style="color: grey">{{place.enquiry.customer.firstName.toUpperCase()}} | {{place.time | date:'hh:mm a'}}</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">add_circle_outline</i> View More
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="7">
                                    <agm-marker *ngFor="let m of marker" [latitude]="m.lat"
                                                [longitude]="m.lng"></agm-marker>
                                    <agm-marker *ngFor="let c of customer" [latitude]="c.lat"
                                                [iconUrl]="'assets/img/m1.png'" [label]="'stelan'"
                                                [longitude]="c.lng"></agm-marker>
                                </agm-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="grandOnPricesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom"
                                    title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title" style="font-size: 16px">Sale to Date - The Grand On Princes</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="orange" data-header-animation="true">
                        <div class="ct-chart" id="grandOnCathiesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom"
                                    title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title" style="font-size: 16px">Sale to Date - The Grand On Cathies</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" id="grandOnMetropolChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom"
                                    title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
                            <button type="button" class="btn btn-default btn-simple" rel="tooltip"
                                    data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <h4 class="card-title" style="font-size: 16px">Sale to Date - The Grand On Metropol</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>