<div class="modal-dialog" style="margin-top: 20px">
    <div class="modal-content">
        <div class="modal-header" style="text-align: center">
            <h4 class="card-title">
                Transport Voucher
            </h4>
            <hr/>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <img style="cursor: pointer;transform: scale(1.3); width: 70px;height: 65px;"
                         src="assets/img/logo-ash.png">
                </div>
                <div class="col-md-8" style="text-align: right">
                    {{voucherObj.customerName}}<br/>
                    {{voucherObj.pickupLocation}}<br/>
                    {{voucherObj.pax}} Pax<br/>
                    <strong>
                        {{voucherObj.pickUpTime |date :'shortTime'}}
                        {{voucherObj.eventFromDate | date: 'shortDate'}}
                    </strong>
                </div>
            </div>
            <br/>
            <agm-map [latitude]="latitude" [longitude]="longitude"
                     [scrollwheel]="true" id="location-map" style="height: 200px"
                     [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
        <div class="modal-footer">
            <button type="submit" (click)="allocateDriver()" class="btn btn-primary">Print</button>
            <button type="button" class="btn btn-default" (click)="close()">Close</button>
        </div>
    </div>
</div>